<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DiscoverPet Search</title>

    <!--Links-->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!--END Links-->

    <!--Scripts-->
    <!--This is a Font Awesome script for icons-->
    <script
      src="https://kit.fontawesome.com/eacfe8928f.js"
      crossorigin="anonymous"
    ></script>
    <!--END Scripts-->
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <a href="/">Discover</a>
        <a href="/" class="pet">Pet</a>
      </div>
      <div class="nav-content">
        <a href="/pet-search">Find a pet</a>
        <a href="/shelter-search">Shelters & Organizations</a>
        <a href="/favorites"><i class="fa-regular fa-heart"></i>Favorites</a>
        <div class="login-signup">
          <% if (!loggedIn) { %>
            <button onclick="location.href='/login';" class="login">Login</button>
            <button onclick="location.href='/signup';" class="signup">Signup</button>
          <% } else { %>
            <form method="POST" action="/logout">
              <button type="submit" class="login">Logout</button>
            </form>
          <% } %> 
        </div>
      </div>
    </nav>
    <h1 class="shelter-search-title">
      Discover a shelter or organization near you!
    </h1>
    <div class="shelter-search-content">
      <div class="shelter-list"></div>
    </div>
  </body>
</html>
