/*-----Properties organized alphabetically-----*/

:root {
    --accent: #BBC7EF;
    --bg-color: #f4f5f8;
    --blk-btn-hover: rgb(218, 215, 215);
    --dark-grey: rgb(53, 53, 53);
    --logo-accent: #7993e7;
    --white: #FFFFFF;
}


body {
    background-color: var(--bg-color);
    font-family: 'Inter', sans-serif;
    /*Font used is Inter from Google. Used weights: 300, 400, 500, 600, 700*/
    margin: 0;
}


a {
    color: var(--dark-grey);
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}


/*-------------------------------------------------------------------------------------------------*/


/*--------------------------INDEX HTML FILE--------------------------*/

/*-----BEGIN Navigation Bar-----*/
.navbar {
    align-items: center;
    background-color: var(--white);
    box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    height: 125px;
    justify-content: space-between;
    white-space: nowrap;
    width: 100vw;
}

.logo {
    color: var(--dark-grey);
    display: flex;
    font-size: 2.25rem;
    font-weight: 600;
    margin-left: 40px;
}

.pet {
    color: var(--logo-accent);
}

.nav-content {
    align-items: center;
    display: flex;
    font-size: 1.15rem;
    font-weight: 500;
}

.nav-content a {
    box-sizing: border-box;
    margin-right: 7.5%;
    transition: border 0.1s ease-in-out;
}

.nav-content a:hover {
    border-bottom: solid;
    border-color: var(--logo-accent);
}

.fa-heart {
    padding-right: 5px;
}

.login-signup {
    display: flex;
    margin-right: 250px;
    position: relative;
}

.login {
    background: linear-gradient(to right, var(--white) 50%, black 50%) left;
    background-size: 200%;
    border: none;
    font-size: 1.15rem;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: -2px;
    transition: 0.5s ease-out;
}

.login:hover {
    background-color: black;
    background-position: right;
    color: var(--white);
}

.signup {
    background: linear-gradient(to left, var(--white) 50%, black 50%) right;
    background-size: 200%;
    border: none;
    border-left: solid black;
    font-size: 1.15rem;
    height: 35px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.5s ease-out;
}

.signup:hover {
    background-color: black;
    background-position: left;
    color: var(--white);
}

/*-----END Navigation Bar-----*/



/*-----BEGIN Background pics-----*/
.pets-pic {
    position: absolute;
    right: 0;
    top: 200px;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.top-left {
    left: 0;
    position: absolute;
    top: 700px;
    z-index: -1;
}

.top-paws {
    left: 7.5%;
    position: absolute;
    top: 175px;
    z-index: -1;
}

/*-----END Background pics-----*/


/*-----BEGIN Main Page Left Side-----*/
.main-page-left-side {
    position: relative;
    margin-left: 12%;
    margin-top: 225px;
}

.landing-action-title {
    color: var(--dark-grey);
    font-size: 3.5rem;
    letter-spacing: 2.5px;
    margin-bottom: 0;
}

.landing-subtitle {
    color: var(--dark-grey);
    font-size: 1.8rem;
    font-weight: 600;
}

.main-search {
    margin-top: 45px;
    position: relative;
}

.left-side-search {
    border: solid 2px black;
    border-radius: 0.75rem 0 0 0.75rem;
    box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    height: 55px;
    padding-left: 20px;
    vertical-align: bottom;
    width: 400px;
}

.left-side-search:focus {
    outline: none;
}

.pet-search {
    cursor: pointer;
    position: relative;
}

#pet-options {
    position: absolute;
    top: 39px;
    left: -40px;

}

.hide {
    visibility: hidden;
}


#pet-options li {
    box-sizing: border-box;
    background-color: #f5f6f8;
    border: solid 1px #000000;
    border-top: none;
    cursor: pointer;
    display: flex;
    font-size: 1.15rem;
    height: 35px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px;
    transition: 0.2s ease-in-out;
    width: 400px;
}

#pet-options li:first-child {
    border-radius: 0.75rem 0.75rem 0 0;
}

#pet-options li:last-child {
    border-radius: 0 0 0.75rem 0.75rem;
}

#pet-options li:hover {
    background-color: #dedfe2;
}

.right-side-search {
    border: solid 2px black;
    box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    font-size: 1rem;
    height: 55px;
    margin-left: -7px;
    padding-left: 20px;
    vertical-align: bottom;
    width: 400px;
}

.right-side-search:focus {
    outline: none;
}

.right-side-search::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

.search-button {
    border: solid 2px black;
    border-left: none;
    border-radius: 0 0.75rem 0.75rem 0;
    box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    height: 55px;
    margin-left: -7px;
    vertical-align: bottom;
    width: 50px;
}

/*-----END Landing Title-----*/


/*-------------------------------------------------------------------------------------------------*/


/*-----BEGIN Main Page Mid Section-----*/
.mid-section {
    background-color: var(--white);
    background-color: var(--white);
    box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 1px 8px 13px 0px rgba(0, 0, 0, 0.04);
    height: 775px;
    width: 100vw;
    margin-top: 375px;
}

.mid-header {
    color: var(--dark-grey);
    display: flex;
    font-size: 2.75rem;
    justify-content: center;
    padding-top: 150px;
    margin-bottom: 75px;
}

.mid-pet-list {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.pet-list-item {
    border: solid 2px black;
    border-radius: 1rem;
    height: 350px;
    width: 225px;
}

.pet-list-button {
    background-color: var(--logo-accent);
    border: solid 2px black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    transition: 0.4s ease-in-out;
}

.fa-paw {
    color: var(--white);
    margin-left: 15%;
    transition: 0.4s ease-in-out;
}

.discover-text {
    color: var(--white);
    font-size: 1.35rem;
    font-weight: 400;
}

.pet-list-button:hover {
    background-color: var(--accent);
}

/*-----END Main Page Mid Section-----*/

/*-------------------------------------------------------------------------------------------------*/

/*-----BEGIN Main Page Shelter Section-----*/
.shelter-section {
    color: var(--dark-grey);
    height: 1000px;
    position: relative;
}

.shelter-heading {
    display: flex;
    font-size: 3.25rem;
    justify-content: center;
    left: 0;
    letter-spacing: 2.5px;
    position: absolute;
    right: 0;
    top: 20%;
}

.shelter-search {
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 40%;
}

/*Search form for Shelter Section will be found in the Main Page Left Side (line 178)*/
/*It uses the same CSS*/

.shelter-list {
    align-items: center;
    display: flex;
    gap: 50px;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 60%;

}

.shelter-bg-pics {
    position: relative;
    height: 1000px;
}

.mid-right {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: -1;
}

.mid-left {
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

.mid-paws {
    bottom: 10%;
    left: 5%;
    position: absolute;
}

/*-----END Main Page Shelter Section-----*/

/*-------------------------------------------------------------------------------------------------*/

/*-----BEGIN Footer-----*/
.footer {
    background-color: var(--white);
    border-top: solid 3px black;
    height: 350px;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-logo {
    color: var(--dark-grey);
    display: flex;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 225px;
    margin-top: 20px;
    width: 650px;
}

.footer-links a {
    font-size: 1.1rem;
    width: 250px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.footer-signup-header {
    font-size: 1.45rem;
    text-align: center;
}

.footer-signup-button {
    background-color: black;
    border: solid 3px black;
    border-radius: 2rem;
    color: var(--white);
    font-size: 1.25rem;
    height: 45px;
    transition: 0.3s ease-in-out;
    width: 350px;
}

.footer-signup-button:hover {
    background-color: var(--blk-btn-hover);
    color: black;
}

/*-----END Footer-----*/

/*--------------------------END INDEX FILE--------------------------*/


/*-------------------------------------------------------------------------------------------------*/


/*--------------------------BEGIN LOGIN FORM AND SIGNUP FORM FILES--------------------------*/

/*-----BEGIN Login-----*/
.login-bg-pics {
    height: 100vh;
    position: absolute;
    width: 55%;
}

.login-top {
    position: absolute;
    top: 0;
}

.login-pets {
    left: 10%;
    position: absolute;
    top: 35%;
    z-index: 1;
}

.login-mid {
    position: absolute;
    right: 0;
    top: 20%;
}

.login-bottom {
    bottom: 0;
    position: absolute;
}

.login-logo {
    position: absolute;
    z-index: 1;
}

.login-logo a {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 50px;
}

.login-page {
    background-color: var(--white);
    box-shadow: -7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: -7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: -7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    height: 100vh;
    position: absolute;
    right: 0;
    width: 45%;
}

.create-acc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

/*-----END Login-----*/

/*-----BEGIN Signup-----*/
.signup-bg-pics {
    height: 100vh;
    position: absolute;
    right: 0;
    width: 55%;
}

.signup-top {
    position: absolute;
    right: 0;
    top: 0;
}

.signup-pets {
    position: absolute;
    top: 30%;
    right: 10%;
    z-index: 1;
}

.signup-mid {
    position: absolute;
    right: 0;
    top: 30%;
}

.signup-bottom {
    bottom: 0;
    position: absolute;
}

.signup-logo {
    position: absolute;
    right: 2%;
    z-index: 1;
}

.signup-logo a {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 50px;
}

.signup-page {
    background-color: var(--white);
    box-shadow: 7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    -webkit-box-shadow: 7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 7px 1px 5px 0px rgba(0, 0, 0, 0.04);
    height: 100vh;
    position: absolute;
    left: 0;
    width: 45%;
}

/*-----END Signup-----*/

/*-----BOTH Login and Signup-----*/
.login-signup-form {
    display: flex;
    flex-direction: column;
    width: 425px;
    margin: 0 auto;
}

/*-----Positioning for login and signup forms-----*/
.signup-form {
    margin-top: 10%;
}

.login-form {
    margin-top: 20%;
}

.login-signup-form label {
    font-weight: 600;
    margin-top: 20px;
}

.login-signup-form input {
    border: solid 2px rgb(219, 216, 216);
    border-radius: 0.25rem;
    font-size: 1rem;
    height: 30px;
    margin-top: 10px;
    padding-left: 10px;
}

.forgot-pw {
    font-weight: 400;
    margin-top: 15px;
}

.login-signup-button {
    background-color: var(--logo-accent);
    border: solid 2px rgb(219, 216, 216);
    border-radius: 0.25rem;
    color: var(--white);
    font-size: 1.15rem;
    height: 45px;
    margin-top: 40px;
    transition: 0.2s ease-in-out;
}

.login-signup-button:hover {
    background-color: var(--accent);
}

.login-signup-button:disabled {
    background-color: rgb(112, 103, 165);
    pointer-events: none;
}

.login-signup-button:disabled:hover {
    background-color: none;
    ;
}

.here {
    color: var(--logo-accent);
    text-decoration: underline;
}

.error-flash {
    align-items: center;
    background-color: #f8d7da;
    border: solid 1.5px #f5c6cb;
    display: flex;
    height: 30px;
    padding-left: 10px;
}

.success-flash {
    align-items: center;
    background-color: #d4edd9;
    border: solid 1.5px #c3e6cb;
    display: flex;
    height: 30px;
    padding-left: 10px;
}

/*--------------------------END LOGIN FORM AND SIGNUP FORM FILES--------------------------*/


/*-------------------------------------------------------------------------------------------------*/


/*--------------------------BEGIN PET-SEARCH FILE--------------------------*/

/*-----BEGIN Pet Search/Title-----*/
.pet-search-title {
    color: var(--dark-grey);
    font-size: 2.75rem;
    margin-bottom: 40px;
    margin-top: 50px;
    text-align: center;
}

.pet-search-content {
    display: flex;
    gap: 30px;
    height: 1400px;
    margin: 50px auto;
    width: 70%;
}

.pet-search-button {
    background-color: black;
    color: var(--white);
    border: 2.5px solid black;
    font-size: 1.15rem;
    padding: 10px 0;
    transition: 0.15s ease-in-out;
    width: 169px;
    margin: 30px auto 20px;
}

.pet-search-button:hover {
    background-color: var(--blk-btn-hover);
    color: black;
}

.pet-search-filters {
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 30px;
    width: 225px;
}

.filter-label {
    color: var(--dark-grey);
    font-size: 1.25rem;
    font-weight: 700;
    margin: 15px auto 0;
}

.filter {
    height: 20px;
    margin: 10px auto 20px;
    width: 169px;
}

.filter:focus {
    outline: none;
}

.pet-search-results {
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 200px;
}

/*-----END Pet Search/Title-----*/

/*--------------------------END PET-SEARCH FILE--------------------------*/


/*-------------------------------------------------------------------------------------------------*/

/*--------------------------BEGIN SHELTER-SEARCH FILE--------------------------*/
.shelter-search-title {
    color: var(--dark-grey);
    font-size: 2.75rem;
    margin: 50px auto;
    text-align: center;
}

.shelter-search-content {
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    height: 1400px;
    margin: 0 auto;
    width: 70%;
}

/*--------------------------END SHELTER-SEARCH FILE--------------------------*/

/*-------------------------------------------------------------------------------------------------*/


/*--------------------------BEGIN FAVORITES PAGE--------------------------*/
.favorites-title {
    color: var(--dark-grey);
    font-size: 2.75rem;
    margin: 50px auto;
    text-align: center;
}

.favorites-content {
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 7px 10px 5px 0px rgba(0, 0, 0, 0.05);
    height: 1400px;
    margin: 0 auto;
    width: 70%;
}

/*-----Favorites Logged Out-----*/
.favorites-logged-out-title {
    display: flex;
    font-size: 2.75rem;
    font-weight: 600;
    gap: 10px;
    justify-content: center;
    margin: 75px auto 25px;
}

.favorites-logged-out-pets {
    display: block;
    margin: 0 auto 100px;

}

/*-----END Favorites Logged Out-----*/

/*--------------------------END FAVORITES PAGE--------------------------*/